    h1 {
        color: #000000;
        font-family: 'Lobster';
    }

      body {
        padding-left: 0px;
        background-color: #BFE3DF;


    }
    .page-header {
        background-color: #03AD9C;
        margin-top: 0;
        border: 5px ridge #02524A;
        box-shadow: 0 0 25px #026B61;


        padding: 20px 20px 20px 40px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #BFE3DF;
        text-shadow: 0px 2px 3px #555;
        font-size: 42pt;
        text-decoration: none;
        text-shadow: #02524A 0 0 14px;
    }

    .content {
        margin-left: 40px;
    }

    h1, h2, h3, h4 {
        font-family: 'Lobster', cursive;

    }

    .date {
        float: right;
        color: #808080;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

    .post {
        margin-bottom: 70px;
    }

    .post h1 a, .post h1 a:visited {
        color: #000000;
    }
       .round {
    border-radius: 100px;
    border: 6px double #02524A;
    box-shadow: 0 0 20px #026B61;
   }
    .glyphicon-pencil,.glyphicon-remove {
    color: #000000;
    font-size: 13pt;
    }
    .glyphicon-plus{
    color: #BFE3DF;
    font-size: 22pt;
    }